
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/Content/AdminPanel/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/AdminPanel/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Admin/Content/AdminPanel/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/Content/AdminPanel/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">license</h1>
                        <h2>خطای لایسنس نرم افزار</h2>
                        <p>
                            متاسفانه شما قوانین مربوط به خرید لایسنس نرم افزار را رعایت نکرده و نمی توانید از  آن استفاده کنید
                        </p>
                        <div class="mid_center">

                        </div>
                    </div>
                </div>
                <!-- /page content -->
            </div>
        </div>
        </div>
        <!-- jQuery -->
        <script src="~/Areas/Admin/Content/AdminPanel/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Areas/Admin/Content/AdminPanel/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/Areas/Admin/Content/AdminPanel/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/Areas/Admin/Content/AdminPanel/vendors/nprogress/nprogress.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="~/Areas/Admin/Content/AdminPanel/build/js/custom.min.js"></script>
</body>
</html>
