@model ICollection<Domain.Setting>

<title>مدیریت استان های همجوار</title>

@{
}
@section Header{


}

<div class="x_panel">
    <div class="x_content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-left"><a class="btn btn-success" href="@Url.Action("States")"> بازگشت  <span class="glyphicon glyphicon-chevron-left"></span></a></div>
        </div>
        <div class="clearfix"></div>
        <br /><br />


        <hr style="margin:0;border:1px solid #c23321" />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                       نام تنظیم
                    </th>
                    <th>
                        زبان
                    </th>
                    @*<th>
                        بالاترین هزینه
                    </th>
                    <th>
                       پایین ترین هزینه
                    </th>*@

                    <th></th>
                </tr>

                @foreach (var item in Model.OrderBy(x=>x.LanguageId))
                {
                    <tr>
                        <td>
                            @item.SettingName
                        </td>
                        <td>
                            @CoreLib.Infrastructure.CommonFunctions.GetLanguageName(item.LanguageId.Value)
                        </td>
                        <td>
                           
                                <a class="btn btn-success" href="@Url.Action("InnerStateList", new { id = item.Id })"><span class="glyphicon glyphicon-edit"></span> لیست استان های همجوار </a>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@section Scripts{



}
