@{var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta; }

@section Meta{
    @Html.Partial("_Meta", Meta)
}
<div class="body-content outer-top-xs">
    <div class="container">
        <div class="row">

            <div class="breadcrumb" style="position: relative;">
                <div class="container">
                    <div class="breadcrumb-inner">
                        <ul class="list-inline list-unstyled" style="display:flex" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/">صفحه اصلی</a><meta itemprop="position" content="1"></li>
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="active"><a itemprop="item" href="/Account/ForgotPasswordConfirmation">تایید فراموشی رمز عبور</a><meta itemprop="position" content="2"></li>

                        </ul>
                    </div>
                    <!-- /.breadcrumb-inner -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.breadcrumb -->

            <div class="Pagecontent">
                <div>
                    <p>
                        لطفا ایمیل خود را بررسی کرده و برای بازیابی رمز عبور، طبق دستورالعمل اقدام نمایید.
                    </p>
                </div>


            </div>
        </div>
        </div>
</div>