@{var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;

    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

@section Meta{
    @Html.Partial("_Meta", Meta)
}

<div class="body-content outer-top-xs">
    <br />
    <div class="container">
        <div class="row">

            <div class="Pagecontent">
                <div>
                    <div class="alert alert-danger">
                        <p>
                            رمز عبور شما تغییر یافت و وارد سایت شدید.
                        </p>
                        <p>
                            پس از چند ثانیه به طور خودکار هدایت می شوید.
                        </p>
                        <script>
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 4000);
                        </script>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>