@model ahmadi.Areas.Admin.ViewModel.AdminPanel.Dashboard
@using Newtonsoft.Json

@using CoreLib;
@using ahmadi.Infrastructure.Helper


<title>داشبرد مدیریت وب سایت</title>






@section Scripts{

  
   
}
