@model PagedList.IPagedList<Domain.ViewModels.ProductItem>

@using ahmadi.Infrastructure.Helper;
@using PagedList.Mvc;
@using CoreLib.Infrastructure;

@{
    var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;

}
@section Meta{
    @Html.Partial("_Meta", Meta)
}
@section Header{
    <style>
        .c-listing__items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -1px;
            margin-bottom: -1px;
            list-style: none;
            padding: 0 0 15px 0;
        }
         .c-listing__items .c-product-box {
            position: relative;
            margin-left: 0;
            margin-top: -1px;
            margin-bottom: 1px;
            border: 1px solid #ebebeb;
            border-top: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            display: block;
            background: #fff;
            position: relative;
            -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-transform .2s cubic-bezier(.4,0,1,1);
            transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-transform .2s cubic-bezier(.4,0,1,1);
            transition: box-shadow .2s cubic-bezier(.4,0,1,1),transform .2s cubic-bezier(.4,0,1,1);
            transition: box-shadow .2s cubic-bezier(.4,0,1,1),transform .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-transform .2s cubic-bezier(.4,0,1,1);
            padding: 30px 3px 46px;
            padding-bottom: 0;
        }
         .c-listing__items > li {
            min-height: 340px;
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 33.333%;
            flex: 1 0 25%;
            max-width: 25%;
        }

        @@media (max-width: 768px) {
            .c-listing__items > li {
                -webkit-box-flex: 1;
                -ms-flex: 1 0 25%;
                flex: 1 0 48%;
                max-width: 48%;
                min-height: 340px;
                border-top: 1px solid #ebebeb !important;
                margin-bottom: 15px !important;
            }
        }
    </style>
    }


<div class="container">
    <div class="row">

        <div class="breadcrumb_section bg_gray page-title-mini">
            <div class="container">
                <!-- STRART CONTAINER -->
                <div class="row align-items-center">
                    <ol class="breadcrumb justify-content-md-end" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">صفحه اصلی</span></a></li>
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/SearchResult/-2/@ViewBag.keyword"><span itemprop="name">@Meta.WebSiteTitle</span></a></li>

                    </ol>
                </div>
            </div><!-- END CONTAINER-->
        </div>

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="product_list_1">
                <ul class="c-listing__items">
                    @foreach (var item in Model)
                    {

                        <li class="c-product-box product c-promotion-box js-product-box has-more is-plp">
                            @Html.Partial("_PItem", item, new ViewDataDictionary { { "w", 213 }, { "h", 213 }, { "size", "SM" } })

                        </li>

                    }
                </ul>
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>





