@using PagedList.Mvc;
@using ahmadi.Infrastructure.Helper
@using ahmadi.Infrastructure;
<title>دسته بندی خصوصیت ها</title>
@{
    var HelpModule = ViewBag.HelpModule as Domain.HelpModule;
}
@section Header{

    <link href="~/Areas/Admin/Content/Scripts/Component/jquery-ui.min.css" rel="stylesheet" />
    @*View*@
    <link href="~/Areas/Admin/Content/Stylesheets/View/ProductCategoryAttribute.css?v=1.5" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Scripts/Component/jquery-ui.min.css" rel="stylesheet" />
    @*Bootstrap Select*@
    <link href="~/areas/admin/content/scripts/component/bootstrp-dropdown/bootstrap-select.min.css" rel="stylesheet" />
}


        <div class="x_panel">
            <div class="x_content">
                <h1 style="display:inline-block;font-size: 2em;" class="box-title">   <a href="@Url.Action("Select", "ProductAttributeGroups")">  دسته بندی خصوصیت ها</a></h1>
                    <span style="cursor:pointer" class="glyphicon glyphicon-question-sign" data-html="true" data-toggle="tooltip" data-placement="right" title="@(HelpModule!=null?Html.Raw(HelpModule.Data).ToHtmlString():"راهنمایی وجود ندارد")"></span>
                    <br /><br />
                <div>
                  
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center function-button">
                        <a class="btn btn-success" href="~/Admin/ProductAttributes/Create" target="_blank"><span class="glyphicon glyphicon-plus"></span> تعریف خصوصیت جدید</a>
                        <a class="btn btn-success" href="~/Admin/ProductAttributes" target="_blank"><span class="glyphicon glyphicon-list"></span> لیست تمام خصوصیات </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  text-center function-button" style="padding:0">
                        <a class="btn btn-success" href="~/Admin/ProductAttributeTabs/Create" target="_blank"><span class="glyphicon glyphicon-plus"></span> تعریف تب جدید</a>
                        <a class="btn btn-success" href="~/Admin/ProductAttributeTabs" target="_blank"><span class="glyphicon glyphicon-list"></span>  لیست تمام تب ها</a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  text-left function-button" style="padding-left: 4px;">
                        <a class="btn btn-success" href="~/Admin/ProductAttributeGroups/Create" target="_blank"><span class="glyphicon glyphicon-plus"></span> تعریف گروه خصوصیت جدید</a>
                        <a class="btn btn-success" href="~/Admin/ProductAttributeGroups" target="_blank"><span class="glyphicon glyphicon-list"></span>   گروه خصوصیت ها </a>
                    </div>
                    <div class="clearfix"></div>
                    <div id="CatAttributes">

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


@section Scripts{

    @*Bootstrap Select*@
    <script src="~/Areas/Admin/Content/Scripts/Component/Bootstrp-DropDown/bootstrap-select.min.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/Component/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/Base/jquery.ui-contextmenu.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/View/ProductCategoryAttribute.js?v=2.24"></script>

}
