@model ahmadi.ViewModels.Home.Master
@using ahmadi.Infrastructure.Helper


<!-- START HEADER -->
<header>
    <a class="navbar-brand order-md-last" href="/">
        @Html.DisplayattachmentCookieFree(Model.StaticContentUrl, Model.HeaderLogo, Model.WebSiteName, "LG", true, new { @class = "img-responsive" })
    </a>
</header>
<!-- END HEADER -->
