<div class="modal fade" id="IconsModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6 col-xs-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="col-md-6 col-xs-12 text-left">
                    Font Awesome List
                    </div>
                <div class="clearfix"></div>
                </div>
            <div class="modal-body">

                <div>
                    <input type="text" placeholder="Enter english keyword..." style="text-align:left;direction:ltr" id="Search-icon-list" class="form-control" />
                </div>
                <hr />
                <div class="row fontawesome-icon-list">
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-hammer"><i class="flaticon-hammer"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-worker"><i class="flaticon-worker"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-engineer-1"><i class="flaticon-engineer-1"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-engineer"><i class="flaticon-engineer"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-worker-1"><i class="flaticon-worker-1"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-architect"><i class="flaticon-architect"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flaticon-crane"><i class="flaticon-crane"></i></a>
                    </div>
                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/adn"><i class="fa fa-adn"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/android"><i class="fa fa-android"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/angellist"><i class="fa fa-angellist"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/apple"><i class="fa fa-apple"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/behance"><i class="fa fa-behance"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/behance-square"><i class="fa fa-behance-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bitbucket"><i class="fa fa-bitbucket"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bitbucket-square"><i class="fa fa-bitbucket-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/btc"><i class="fa fa-bitcoin"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/btc"><i class="fa fa-btc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-amex"><i class="fa fa-cc-amex"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-discover"><i class="fa fa-cc-discover"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-mastercard"><i class="fa fa-cc-mastercard"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-paypal"><i class="fa fa-cc-paypal"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-stripe"><i class="fa fa-cc-stripe"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc-visa"><i class="fa fa-cc-visa"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/codepen"><i class="fa fa-codepen"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/css3"><i class="fa fa-css3"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/delicious"><i class="fa fa-delicious"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/deviantart"><i class="fa fa-deviantart"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/digg"><i class="fa fa-digg"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/dropbox"><i class="fa fa-dropbox"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/drupal"><i class="fa fa-drupal"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/empire"><i class="fa fa-empire"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/facebook"><i class="fa fa-facebook"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/facebook-square"><i class="fa fa-facebook-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flickr"><i class="fa fa-flickr"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/foursquare"><i class="fa fa-foursquare"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/empire"><i class="fa fa-ge"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/git"><i class="fa fa-git"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/git-square"><i class="fa fa-git-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/github"><i class="fa fa-github"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/github-alt"><i class="fa fa-github-alt"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/github-square"><i class="fa fa-github-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/gittip"><i class="fa fa-gittip"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/google"><i class="fa fa-google"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/google-plus"><i class="fa fa-google-plus"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/google-plus-square"><i class="fa fa-google-plus-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/google-wallet"><i class="fa fa-google-wallet"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/hacker-news"><i class="fa fa-hacker-news"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/html5"><i class="fa fa-html5"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/instagram"><i class="fa fa-instagram"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/ioxhost"><i class="fa fa-ioxhost"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/joomla"><i class="fa fa-joomla"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/jsfiddle"><i class="fa fa-jsfiddle"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/lastfm"><i class="fa fa-lastfm"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/lastfm-square"><i class="fa fa-lastfm-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/linkedin-square"><i class="fa fa-linkedin-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/linux"><i class="fa fa-linux"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/maxcdn"><i class="fa fa-maxcdn"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/meanpath"><i class="fa fa-meanpath"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/openid"><i class="fa fa-openid"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pagelines"><i class="fa fa-pagelines"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paypal"><i class="fa fa-paypal"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pied-piper"><i class="fa fa-pied-piper"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pied-piper-alt"><i class="fa fa-pied-piper-alt"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pinterest"><i class="fa fa-pinterest"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pinterest-square"><i class="fa fa-pinterest-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/qq"><i class="fa fa-qq"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/rebel"><i class="fa fa-ra"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/rebel"><i class="fa fa-rebel"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reddit"><i class="fa fa-reddit"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reddit-square"><i class="fa fa-reddit-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/renren"><i class="fa fa-renren"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-alt"><i class="fa fa-share-alt"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-alt-square"><i class="fa fa-share-alt-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/skype"><i class="fa fa-skype"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/slack"><i class="fa fa-slack"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/slideshare"><i class="fa fa-slideshare"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/soundcloud"><i class="fa fa-soundcloud"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/spotify"><i class="fa fa-spotify"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/stack-exchange"><i class="fa fa-stack-exchange"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/steam"><i class="fa fa-steam"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/steam-square"><i class="fa fa-steam-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/stumbleupon"><i class="fa fa-stumbleupon"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/stumbleupon-circle"><i class="fa fa-stumbleupon-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tencent-weibo"><i class="fa fa-tencent-weibo"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/trello"><i class="fa fa-trello"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tumblr"><i class="fa fa-tumblr"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tumblr-square"><i class="fa fa-tumblr-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/twitch"><i class="fa fa-twitch"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/twitter"><i class="fa fa-twitter"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/twitter-square"><i class="fa fa-twitter-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/vimeo-square"><i class="fa fa-vimeo-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/vine"><i class="fa fa-vine"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/vk"><i class="fa fa-vk"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/weixin"><i class="fa fa-wechat"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/weibo"><i class="fa fa-weibo"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/weixin"><i class="fa fa-weixin"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/windows"><i class="fa fa-windows"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/wordpress"><i class="fa fa-wordpress"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/xing"><i class="fa fa-xing"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/xing-square"><i class="fa fa-xing-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/yahoo"><i class="fa fa-yahoo"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/yelp"><i class="fa fa-yelp"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/youtube"><i class="fa fa-youtube"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/youtube-play"><i class="fa fa-youtube-play"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/youtube-square"><i class="fa fa-youtube-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/adjust"><i class="fa fa-adjust"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/anchor"><i class="fa fa-anchor"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/archive"><i class="fa fa-archive"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/area-chart"><i class="fa fa-area-chart"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/arrows"><i class="fa fa-arrows"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/arrows-h"><i class="fa fa-arrows-h"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/arrows-v"><i class="fa fa-arrows-v"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/asterisk"><i class="fa fa-asterisk"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/at"><i class="fa fa-at"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/car"><i class="fa fa-automobile"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/ban"><i class="fa fa-ban"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/university"><i class="fa fa-bank"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bar-chart"><i class="fa fa-bar-chart"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bar-chart"><i class="fa fa-bar-chart-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/barcode"><i class="fa fa-barcode"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bars"><i class="fa fa-bars"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/beer"><i class="fa fa-beer"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bell"><i class="fa fa-bell"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bell-o"><i class="fa fa-bell-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bell-slash"><i class="fa fa-bell-slash"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bell-slash-o"><i class="fa fa-bell-slash-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bicycle"><i class="fa fa-bicycle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/binoculars"><i class="fa fa-binoculars"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/birthday-cake"><i class="fa fa-birthday-cake"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bolt"><i class="fa fa-bolt"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bomb"><i class="fa fa-bomb"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/book"><i class="fa fa-book"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bookmark"><i class="fa fa-bookmark"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bookmark-o"><i class="fa fa-bookmark-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/briefcase"><i class="fa fa-briefcase"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bug"><i class="fa fa-bug"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/building"><i class="fa fa-building"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/building-o"><i class="fa fa-building-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bullhorn"><i class="fa fa-bullhorn"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bullseye"><i class="fa fa-bullseye"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bus"><i class="fa fa-bus"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/taxi"><i class="fa fa-cab"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/calculator"><i class="fa fa-calculator"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/calendar"><i class="fa fa-calendar"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/calendar-o"><i class="fa fa-calendar-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/camera"><i class="fa fa-camera"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/camera-retro"><i class="fa fa-camera-retro"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/car"><i class="fa fa-car"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-down"><i class="fa fa-caret-square-o-down"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-left"><i class="fa fa-caret-square-o-left"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-right"><i class="fa fa-caret-square-o-right"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-up"><i class="fa fa-caret-square-o-up"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cc"><i class="fa fa-cc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/certificate"><i class="fa fa-certificate"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/check"><i class="fa fa-check"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/check-circle"><i class="fa fa-check-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/check-circle-o"><i class="fa fa-check-circle-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/check-square"><i class="fa fa-check-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/check-square-o"><i class="fa fa-check-square-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/child"><i class="fa fa-child"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/circle"><i class="fa fa-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/circle-o"><i class="fa fa-circle-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/circle-o-notch"><i class="fa fa-circle-o-notch"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/circle-thin"><i class="fa fa-circle-thin"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/clock-o"><i class="fa fa-clock-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/times"><i class="fa fa-close"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cloud"><i class="fa fa-cloud"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cloud-download"><i class="fa fa-cloud-download"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cloud-upload"><i class="fa fa-cloud-upload"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/code"><i class="fa fa-code"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/code-fork"><i class="fa fa-code-fork"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/coffee"><i class="fa fa-coffee"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cog"><i class="fa fa-cog"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cogs"><i class="fa fa-cogs"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/comment"><i class="fa fa-comment"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/comment-o"><i class="fa fa-comment-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/comments"><i class="fa fa-comments"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/comments-o"><i class="fa fa-comments-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/compass"><i class="fa fa-compass"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/copyright"><i class="fa fa-copyright"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/credit-card"><i class="fa fa-credit-card"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/crop"><i class="fa fa-crop"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/crosshairs"><i class="fa fa-crosshairs"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cube"><i class="fa fa-cube"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cubes"><i class="fa fa-cubes"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cutlery"><i class="fa fa-cutlery"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tachometer"><i class="fa fa-dashboard"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/database"><i class="fa fa-database"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/desktop"><i class="fa fa-desktop"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/dot-circle-o"><i class="fa fa-dot-circle-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/download"><i class="fa fa-download"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pencil-square-o"><i class="fa fa-edit"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/ellipsis-h"><i class="fa fa-ellipsis-h"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/ellipsis-v"><i class="fa fa-ellipsis-v"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/envelope"><i class="fa fa-envelope"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/envelope-o"><i class="fa fa-envelope-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/envelope-square"><i class="fa fa-envelope-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/eraser"><i class="fa fa-eraser"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/exchange"><i class="fa fa-exchange"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/exclamation"><i class="fa fa-exclamation"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/exclamation-circle"><i class="fa fa-exclamation-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/exclamation-triangle"><i class="fa fa-exclamation-triangle"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/external-link"><i class="fa fa-external-link"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/external-link-square"><i class="fa fa-external-link-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/eye"><i class="fa fa-eye"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/eye-slash"><i class="fa fa-eye-slash"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/eyedropper"><i class="fa fa-eyedropper"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/fax"><i class="fa fa-fax"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/female"><i class="fa fa-female"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/fighter-jet"><i class="fa fa-fighter-jet"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-archive-o"><i class="fa fa-file-archive-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-audio-o"><i class="fa fa-file-audio-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-code-o"><i class="fa fa-file-code-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-excel-o"><i class="fa fa-file-excel-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-image-o"><i class="fa fa-file-image-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-video-o"><i class="fa fa-file-movie-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-pdf-o"><i class="fa fa-file-pdf-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-image-o"><i class="fa fa-file-photo-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-image-o"><i class="fa fa-file-picture-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-powerpoint-o"><i class="fa fa-file-powerpoint-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-audio-o"><i class="fa fa-file-sound-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-video-o"><i class="fa fa-file-video-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-word-o"><i class="fa fa-file-word-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/file-archive-o"><i class="fa fa-file-zip-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/film"><i class="fa fa-film"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/filter"><i class="fa fa-filter"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/fire"><i class="fa fa-fire"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/fire-extinguisher"><i class="fa fa-fire-extinguisher"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flag"><i class="fa fa-flag"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flag-checkered"><i class="fa fa-flag-checkered"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flag-o"><i class="fa fa-flag-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bolt"><i class="fa fa-flash"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/flask"><i class="fa fa-flask"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/folder"><i class="fa fa-folder"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/folder-o"><i class="fa fa-folder-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/folder-open"><i class="fa fa-folder-open"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/folder-open-o"><i class="fa fa-folder-open-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/frown-o"><i class="fa fa-frown-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/futbol-o"><i class="fa fa-futbol-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/gamepad"><i class="fa fa-gamepad"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/gavel"><i class="fa fa-gavel"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cog"><i class="fa fa-gear"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/cogs"><i class="fa fa-gears"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/gift"><i class="fa fa-gift"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/glass"><i class="fa fa-glass"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/globe"><i class="fa fa-globe"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/graduation-cap"><i class="fa fa-graduation-cap"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/users"><i class="fa fa-group"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/hdd-o"><i class="fa fa-hdd-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/headphones"><i class="fa fa-headphones"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/heart"><i class="fa fa-heart"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/heart-o"><i class="fa fa-heart-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/history"><i class="fa fa-history"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/home"><i class="fa fa-home"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/picture-o"><i class="fa fa-image"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/inbox"><i class="fa fa-inbox"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/info"><i class="fa fa-info"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/info-circle"><i class="fa fa-info-circle"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/university"><i class="fa fa-institution"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/key"><i class="fa fa-key"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/keyboard-o"><i class="fa fa-keyboard-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/language"><i class="fa fa-language"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/laptop"><i class="fa fa-laptop"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/leaf"><i class="fa fa-leaf"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/gavel"><i class="fa fa-legal"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/lemon-o"><i class="fa fa-lemon-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/level-down"><i class="fa fa-level-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/level-up"><i class="fa fa-level-up"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/life-ring"><i class="fa fa-life-bouy"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/life-ring"><i class="fa fa-life-buoy"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/life-ring"><i class="fa fa-life-ring"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/life-ring"><i class="fa fa-life-saver"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/lightbulb-o"><i class="fa fa-lightbulb-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/line-chart"><i class="fa fa-line-chart"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/location-arrow"><i class="fa fa-location-arrow"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/lock"><i class="fa fa-lock"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/magic"><i class="fa fa-magic"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/magnet"><i class="fa fa-magnet"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share"><i class="fa fa-mail-forward"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reply"><i class="fa fa-mail-reply"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reply-all"><i class="fa fa-mail-reply-all"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/male"><i class="fa fa-male"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/map-marker"><i class="fa fa-map-marker"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/meh-o"><i class="fa fa-meh-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/microphone"><i class="fa fa-microphone"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/microphone-slash"><i class="fa fa-microphone-slash"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/minus"><i class="fa fa-minus"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/minus-circle"><i class="fa fa-minus-circle"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/minus-square"><i class="fa fa-minus-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/minus-square-o"><i class="fa fa-minus-square-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/mobile"><i class="fa fa-mobile"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/mobile"><i class="fa fa-mobile-phone"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/money"><i class="fa fa-money"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/moon-o"><i class="fa fa-moon-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/graduation-cap"><i class="fa fa-mortar-board"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/music"><i class="fa fa-music"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bars"><i class="fa fa-navicon"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/newspaper-o"><i class="fa fa-newspaper-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paint-brush"><i class="fa fa-paint-brush"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paper-plane"><i class="fa fa-paper-plane"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paper-plane-o"><i class="fa fa-paper-plane-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paw"><i class="fa fa-paw"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pencil"><i class="fa fa-pencil"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pencil-square"><i class="fa fa-pencil-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pencil-square-o"><i class="fa fa-pencil-square-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/phone"><i class="fa fa-phone"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/phone-square"><i class="fa fa-phone-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/picture-o"><i class="fa fa-photo"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/picture-o"><i class="fa fa-picture-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/pie-chart"><i class="fa fa-pie-chart"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plane"><i class="fa fa-plane"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plug"><i class="fa fa-plug"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plus"><i class="fa fa-plus"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plus-circle"><i class="fa fa-plus-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plus-square"><i class="fa fa-plus-square"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/plus-square-o"><i class="fa fa-plus-square-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/power-off"><i class="fa fa-power-off"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/print"><i class="fa fa-print"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/puzzle-piece"><i class="fa fa-puzzle-piece"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/qrcode"><i class="fa fa-qrcode"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/question"><i class="fa fa-question"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/question-circle"><i class="fa fa-question-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/quote-left"><i class="fa fa-quote-left"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/quote-right"><i class="fa fa-quote-right"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/random"><i class="fa fa-random"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/recycle"><i class="fa fa-recycle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/refresh"><i class="fa fa-refresh"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/times"><i class="fa fa-remove"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/bars"><i class="fa fa-reorder"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reply"><i class="fa fa-reply"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/reply-all"><i class="fa fa-reply-all"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/retweet"><i class="fa fa-retweet"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/road"><i class="fa fa-road"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/rocket"><i class="fa fa-rocket"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/rss"><i class="fa fa-rss"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/rss-square"><i class="fa fa-rss-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/search"><i class="fa fa-search"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/search-minus"><i class="fa fa-search-minus"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/search-plus"><i class="fa fa-search-plus"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paper-plane"><i class="fa fa-send"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/paper-plane-o"><i class="fa fa-send-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share"><i class="fa fa-share"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-alt"><i class="fa fa-share-alt"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-alt-square"><i class="fa fa-share-alt-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-square"><i class="fa fa-share-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/share-square-o"><i class="fa fa-share-square-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/shield"><i class="fa fa-shield"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/shopping-cart"><i class="fa fa-shopping-cart"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sign-in"><i class="fa fa-sign-in"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sign-out"><i class="fa fa-sign-out"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/signal"><i class="fa fa-signal"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sitemap"><i class="fa fa-sitemap"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sliders"><i class="fa fa-sliders"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/smile-o"><i class="fa fa-smile-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/futbol-o"><i class="fa fa-soccer-ball-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort"><i class="fa fa-sort"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-alpha-asc"><i class="fa fa-sort-alpha-asc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-alpha-desc"><i class="fa fa-sort-alpha-desc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-amount-asc"><i class="fa fa-sort-amount-asc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-amount-desc"><i class="fa fa-sort-amount-desc"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-asc"><i class="fa fa-sort-asc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-desc"><i class="fa fa-sort-desc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-desc"><i class="fa fa-sort-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-numeric-asc"><i class="fa fa-sort-numeric-asc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-numeric-desc"><i class="fa fa-sort-numeric-desc"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort-asc"><i class="fa fa-sort-up"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/space-shuttle"><i class="fa fa-space-shuttle"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/spinner"><i class="fa fa-spinner"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/spoon"><i class="fa fa-spoon"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/square"><i class="fa fa-square"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/square-o"><i class="fa fa-square-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star"><i class="fa fa-star"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star-half"><i class="fa fa-star-half"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star-half-o"><i class="fa fa-star-half-empty"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star-half-o"><i class="fa fa-star-half-full"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star-half-o"><i class="fa fa-star-half-o"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/star-o"><i class="fa fa-star-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/suitcase"><i class="fa fa-suitcase"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sun-o"><i class="fa fa-sun-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/life-ring"><i class="fa fa-support"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tablet"><i class="fa fa-tablet"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tachometer"><i class="fa fa-tachometer"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tag"><i class="fa fa-tag"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tags"><i class="fa fa-tags"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tasks"><i class="fa fa-tasks"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/taxi"><i class="fa fa-taxi"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/terminal"><i class="fa fa-terminal"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/thumb-tack"><i class="fa fa-thumb-tack"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/thumbs-down"><i class="fa fa-thumbs-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/thumbs-o-down"><i class="fa fa-thumbs-o-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/thumbs-o-up"><i class="fa fa-thumbs-o-up"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/thumbs-up"><i class="fa fa-thumbs-up"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/ticket"><i class="fa fa-ticket"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/times"><i class="fa fa-times"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/times-circle"><i class="fa fa-times-circle"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/times-circle-o"><i class="fa fa-times-circle-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tint"><i class="fa fa-tint"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-down"><i class="fa fa-toggle-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-left"><i class="fa fa-toggle-left"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/toggle-off"><i class="fa fa-toggle-off"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/toggle-on"><i class="fa fa-toggle-on"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-right"><i class="fa fa-toggle-right"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/caret-square-o-up"><i class="fa fa-toggle-up"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/trash"><i class="fa fa-trash"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/trash-o"><i class="fa fa-trash-o"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tree"><i class="fa fa-tree"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/trophy"><i class="fa fa-trophy"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/truck"><i class="fa fa-truck"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/tty"><i class="fa fa-tty"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/umbrella"><i class="fa fa-umbrella"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/university"><i class="fa fa-university"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/unlock"><i class="fa fa-unlock"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/unlock-alt"><i class="fa fa-unlock-alt"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/sort"><i class="fa fa-unsorted"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/upload"><i class="fa fa-upload"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/user"><i class="fa fa-user"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/users"><i class="fa fa-users"></i></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/video-camera"><i class="fa fa-video-camera"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/volume-down"><i class="fa fa-volume-down"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/volume-off"><i class="fa fa-volume-off"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/volume-up"><i class="fa fa-volume-up"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/exclamation-triangle"><i class="fa fa-warning"></i> <span class="text-muted"></span></a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/wheelchair"><i class="fa fa-wheelchair"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/wifi"><i class="fa fa-wifi"></i> </a>
                    </div>

                    <div class="fa-hover col-md-4 col-sm-6 col-xs-12">
                        <a href="#/wrench"><i class="fa fa-wrench"></i> </a>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>